
.gif img{
    width:100%;
    position: relative;
}

.gif{
    position: relative;
    width: fit-content;
    margin: 2px;
    display: inline-block;
}

.gif span{
    position: absolute;
    top: 0;
    right: 0;
    background-color: black;
}

.gif span:hover{
    color: black;
    font-weight: bold;
}